.timer {
    color: white;
    font-size: 3rem;
}

.timer-container {
    border: 5px solid white;
    border-radius: 10px;
    padding: 2rem;
    animation: pulse 1s ease infinite alternate;
}

@keyframes pulse {
        100% {
        transform: scale(1.3);
    }
}


